alembic
click
Flask
Flask-Migrate
Flask-RESTful
Flask-Api
Flask-SQLAlchemy
flask-cors
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
more-itertools
packaging
pluggy
PyJWT
pytz
SQLAlchemy
gunicorn